/* variables colores */ /* variables margin */
* {
  list-style: none;
  font-family: sans-serif;
}

body {
  background-image: url("../multimedia/pastalinda.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav_container h1 {
  background-color: salmon;
  width: 250px;
  color: bisque;
  text-align: center;
  font-size: 2rem;
  margin: auto;
  margin-top: 2rem;
}

.container {
  border: solid 2px salmon;
}

.flex ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1em;
}

a:hover {
  color: bisque;
  background-color: salmon;
}

section img {
  border-radius: 5%;
}

.tittle_container {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}
.tittle_container h1 {
  font-size: 3rem;
  color: black;
  transition: translateX(100px);
}
.tittle_container p {
  font-size: 1.5rem;
  color: rgb(1, 5, 5);
}

a {
  text-decoration: none;
  color: rgb(56, 6, 6);
}

li a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1.6em;
}

.main_container {
  background-color: rgba(240, 248, 255, 0.435);
}
.main_container h1 {
  color: black;
  font-size: 3rem;
  margin-left: 1rem;
}
.main_container p {
  font-size: 1.5rem;
  margin: 1rem;
}

.image_container {
  background-color: rgba(240, 248, 255, 0.435);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 16em;
}

.encontra-tu-pasta {
  text-align: center;
  font-size: 1.5rem;
}

.ofertas {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  background-color: rgba(129, 50, 19, 0.528);
  text-align: center;
  margin-top: 3rem;
}

.footer {
  margin-bottom: 0;
}

/*quienes somos*/
.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(255, 228, 196, 0.959);
  margin: 2rem 2rem 2rem 2rem;
}

.flex-item1 {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.flex-item2 {
  font-size: 2rem;
  font-family: sans-serif;
  color: rgb(129, 50, 19);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  margin-bottom: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgba(240, 248, 255, 0.435);
}

.grid-item-1 {
  text-align: left;
}

.grid-item-2 {
  background-image: url(../multimedia/acd91fd2-0db6-49bf-b8cc-29df4047fae8_16-9-discover-aspect-ratio_default_0.jpeg);
  background-size: cover;
}

.grid-item-3 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grid-item-4 {
  background-image: url(../multimedia/carbonara.jpeg);
  background-size: cover;
}

.grid-item-5 {
  text-align: left;
  overflow: hidden;
}

.grid-item-6 {
  background-image: url(../multimedia/homemade-flour-eggs-cooking-ingredients-1606526.jpeg);
  background-size: cover;
}

/*productos*/
.row {
  margin: 100px 100px 100px 100px;
  text-align: center;
}

.container-productos {
  background-color: rgba(211, 211, 211, 0.505);
}
.container-productos h2 {
  color: rgb(233, 80, 80);
}

/*promociones*/
.borde {
  border: none;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.titulo-promociones {
  text-align: center;
  margin: 4rem;
}

/*contacto*/
.contenedor-contacto {
  display: flex;
  margin: 2rem 2rem 2rem 2rem;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=main.css.map */
